@using ROHV.WebApi.ViewModels;
@{
    var lists = (Dictionary<String, List<ItemListViewModel>>)ViewData["Lists"];
    var servicesList = (List<ItemListViewModel>)lists["ServiceTypesExList"];    
}
<script id="pop-template-printdocument" type="text/html">
    <div class="modal-dialog modal-lg">
        <div class="modal-content overlay-wrapper">
            @Html.Raw(@"<%
                var isEdit = model.get(""ConsumerPrintDocumentId"")!=null;
                var title = isEdit? ""Edit print document"": ""Add print document"";
                var btnTitle = isEdit? ""Save changes"": ""Add document print"";
            %>")
            <div class="modal-header alert-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><%=title%></h4>
            </div>
            <div class="modal-body">
                <form id="print-document-form">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label for="ContactId">Direct Worker</label>
                                        <select id="ContactId" name="ContactId" class="selectpicker" data-live-search="true" title="Select employee name...">
                                            @Html.Raw(@"
                                            <%if(model.get(""ContactId"")!=null){%>
                                                    <option value=""<%=model.get(""ContactId"")%>""  data-icon=""glyphicon-user"" data-subtext=""<%=model.get(""CoordinatorCompany"")%>"" selected >
                                                            <%=model.get(""ContactName"")%>
                                                    </option>
                                             <%}%>")
                                        </select>
                                    </div>
                                </div>    
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label for="EffectiveDate">Service Type</label>                                   
                                        <select id="ServiceTypeId" class="selectpicker"
                                                name="ServiceTypeId"
                                                title="Select service...">
                                            @foreach (var item in servicesList)
                                            {
                                                @:<% var value = "@item.Value";%>
                                                @:<% var additionalValue = "@item.AdditionalValue"; if(!additionalValue) additionalValue=null;%>
                                                @:<% var title = model.get('ServiceTypeTitle'); if(!title) title=null; %>
                                                <option value="@item.Value" title="@item.AdditionalValue"
                                                        @Html.Raw(@"<%if(model.get('ServiceTypeId')==value && title==additionalValue){%> selected   <%}%>")>
                                                    @(string.IsNullOrEmpty(item.AdditionalValue)?item.Name:item.AdditionalValue)
                                                </option>
                                            }

                                        </select>
                                    </div>
                                </div>       
                                <div class="col-xs-12 col-md-12 respite-hide">
                                    <div class="form-group">
                                        <label for="EffectiveDate">Effective date</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input value="<%=model.get('EffectiveDate')%>" model.get" type="text" class="form-control pull-right"
                                                   data-inputmask="'alias': 'mm/dd/yyyy'" data-mask=""
                                                   id="EffectiveDate" name="EffectiveDate" placeholder="Enter effective date..." />
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label for="Notes">Notes:</label>
                                        <textarea name="Notes" id="Notes" class="form-control" rows="2" placeholder="Enter note ..."><%=model.get('Notes')%></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>                       
                    </div>
                </form>   
                <div class="row respite-hide">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label for="CopyFromHabPlanId">Copy valued outcomes data from Hab Plan...:</label>
                            <select id="CopyFromHabPlanId" class="selectpicker"
                                    name="CopyFromHabPlanId"
                                    title="Select hab plan...">
                                <%_.each(hanPlans, function(item)
                                { %>                                  
                                    <option value="<%=item.ConsumerHabPlanId%>" >                                           
                                        <%=item.Name%> (<%=item.DatePlan%>)
                                    </option>
                                <%});%>

                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div>
                            <button type="button" class="btn btn-primary btn-sm pull-left" style="margin-top:10px;" data-action="add-valued-outcome">Add valued outcome</button>
                        </div>
                        <div style="clear:both; margin-bottom:5px;"></div>

                        <form id="print-document-valued-form">
                            <div data-container="valued-outcomes" style="overflow-y:auto;"></div>
                        </form>
                    </div>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="save-modal" class="btn btn-primary"><%=btnTitle%></button>
            </div>
            <div class="overlay" id="overlay-dialog" style="display:none;">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>


<script id="template-print-document-valued-outcome" type="text/html">
    <fieldset style="text-align:left; margin-top:20px;" data-container-valued-id="<%=model.Id%>">
        <legend><b>Valued outcome <%=num%></b></legend>
        <button type="button" class="btn btn-danger btn-sm pull-right" data-id="<%=model.Id%>" style="margin-bottom:5px;" data-action="remove-valued-outcome">Remove valued outcome</button>
        <div class="form-group" style="margin-bottom: 0px;">
            <label for="valued-outcome-<%=model.Id%>">Value outcome</label>
            <input type="text" class="form-control" name="valued-outcome-<%=model.Id%>" data-id="<%=model.Id%>" value="<%=model.ValuedOutcome%>" placeholder="Please enter valued outcome..." />
        </div>
        <fieldset style="text-align:left;">
            <legend><small>Staff server & actions</small></legend>
            <div data-container="actions">
                <%=htmlActions%>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-vo-id="<%=model.Id%>" data-action="add-new-action">Add new action</button>
            </div>
        </fieldset>
    </fieldset>
</script>
<script id="template-print-document-action" type="text/html">
    <div style="position:relative;" data-container-action-id="<%=model.Id%>">
        <div class="form-group pull-left" style="width:90%; margin-bottom: 5px;">
            <label for="vo-<%=parentId%>-action-<%=model.Id%>">Action <%=num%></label>
            <input class="form-control" type="text" name="vo-<%=parentId%>-action-<%=model.Id%>" data-id="<%=model.Id%>" data-vo-id="<%=parentId%>" value="<%=model.ServeAndAction%>" placeholder="Please enter action..." />
        </div>
        <button type="button" class="btn btn-danger btn-sm pull-right" data-id="<%=model.Id%>" data-vo-id="<%=parentId%>" style="margin-top:26px;" data-action="remove-action">Remove</button>
    </div>
    <div style="clear:both;"></div>
</script>
